*
    margin:0;
    padding: 0;
    box-sizing: border-box;
li 
    list-style: none;

clearfix()
  &::after 
    content ""
    display block
    height 0
    clear both
    visibility hidden
fl()
    float left
fr()
    float right
//自定义滚动条样式
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 10px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 5px;
}

fl()
    float left

fr()
    float right

clearfix()
  display: inline-block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden


blues=red

.el-button
    display inline-block
    padding 12px 20px
.el-tag
    padding 0px 10px
.el-table td,
.el-table th
    text-align: center